.chevron {
  position: relative;
  text-align: center;
  height: 0.3rem;
  width: 1.5rem;
}
.chevron:before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 0;
  height: 100%;
  width: 51%;
  background: var(--primary-text);
  transform: skew(0deg, 30deg);
}
.chevron:after {
  content: '';
  position: absolute;
  top: 1rem;
  right: 0;
  height: 100%;
  width: 50%;
  background: var(--primary-text);
  transform: skew(0deg, -30deg);
}

.chevron.inverted:before{
  transform: skew(0deg, -30deg);
}

.chevron.inverted:after{
  transform: skew(0deg, 30deg);
}