[data-theme="light"] {
  --primary-text: #222222;
  --primary-bg: #eeeeee;
  --mid-gray: #aaaaaa;

  --accent-1: #3055ff;

  /* Use this to reproduce the colors in svgs using the "filter" property.
  * See: https://codepen.io/sosuke/pen/Pjoqqp?editors=1111
  */
  --primary-text-filter: invert(13%) sepia(96%) saturate(0%) hue-rotate(239deg) brightness(100%) contrast(106%);
  --mid-gray-filter: invert(81%) sepia(10%) saturate(0%) hue-rotate(149deg) brightness(85%) contrast(82%);
  --accent-filter-1: invert(27%) sepia(85%) saturate(4238%) hue-rotate(228deg) brightness(101%) contrast(101%);
}

[data-theme="dark"] {
  --primary-text: #eeeeee;
  --primary-bg: #222222;
  --mid-gray: #777777;
  --mid-gray-filter: invert(33%) sepia(0%) saturate(708%) hue-rotate(249deg) brightness(94%) contrast(87%);

  --accent-1: #30ccff;

  /* Use this to reproduce the colors in svgs using the "filter" property.
   * See: https://codepen.io/sosuke/pen/Pjoqqp?editors=1111
   */
  --primary-text-filter: invert(100%) sepia(2%) saturate(256%) hue-rotate(187deg) brightness(117%) contrast(87%);
  --accent-filter-1: invert(61%) sepia(93%) saturate(996%) hue-rotate(163deg) brightness(102%) contrast(102%);
}

:root {

  --filter-black: brightness(0) saturate(100%);
  --filter-yellow: invert(92%) sepia(32%) saturate(1055%) hue-rotate(356deg) brightness(115%) contrast(107%);

  --light: 300;
  --normal: 400;
  --semi-bold: 500;
  --bold: 700;

  --font-family: 'Ubuntu', sans-serif;

  font-family: var(--font-family);
  font-size: 10px;
  font-weight: var(--normal);
}

* {
  box-sizing: border-box;
}

[data-theme] {
  background-color: var(--primary-bg);
  color: var(--primary-text);

  display: flex;
  justify-content: center;
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0rem;
}

h1 {
  font-weight: 700;
  letter-spacing: 0.5rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 0;
}

img.icon {
  object-fit: contain;
  height: 1.4rem;
  filter: var(--accent-filter-1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: underline;
  color: var(--primary-text);
}

a:hover {
  color: var(--accent-1);
}

p,
span,
.normal-text {
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0;
}

section,
header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
}

input[type='image'] {
  color: var(--primary-text);
}

.light {
  font-weight: var(--light);
}

.bold {
  font-weight: var(--bold);
}

.semi-bold {
  font-weight: var(--semi-bold);
}

.small-text {
  font-size: 1.4rem;
  line-height: 1.6rem;
}