@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-biggest {
    @apply pb-2 text-3xl lg:pb-4 lg:text-4xl;
  }
  .text-very-big {
    @apply pb-2 text-2xl lg:pb-4 lg:text-3xl;
  }
  .text-big {
    @apply text-xl lg:text-2xl;
  }
  .text-normal {
    @apply text-lg lg:text-xl;
  }

  .dark-bg-gradient {
    @apply bg-gradient-to-tr from-slate-600 to-slate-900 to-50% text-slate-50;
  }

  .text-link {
    @apply pb-1;
    transition-property: color, background-size;
    transition-timing-function: ease-out;
    transition-duration: 300ms, 150ms;
  }
  .text-link:hover,
  .text-link-active {
    @apply dark-bg-gradient bg-full;
  }
  .text-link:not(:hover) {
    @apply dark-bg-gradient bg-[length:100%_2px] bg-[0_98%] bg-no-repeat text-slate-800;
  }
}

